.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  border: 1px solid var(--paragraph);
  position: sticky;
  background: var(--background);
}
.container div {
  display: flex;
  align-items: center;
}

.container span {
  font-family: "Press Start 2P", cursive;
  margin-left: 1rem;
}
.container nav {
  color: var(--headline);
}
.container nav a {
  margin: 0 0.5rem;
  color: var(--highlight);
  cursor: pointer;
}
/* // <header className="flex justify-center items-center py-2 md:justify-between md:py-4"> */
