.container {
  background: var(--background);
  color: var(--paragraph);
  min-height: 100vh;
  padding-top: 4rem;
}
.container li {
  /* border: 1px solid; */
  width: fit-content;
  height: 1.85rem;
}

.container li svg {
  vertical-align: sub;
}
