.container {
  background: var(--background);
  color: var(--paragraph);
  min-height: 100vh;
  padding-top: 4rem;
}

.contactForm {
  /* border: 1px solid var(--paragraph); */
  text-align: center;
}

.contactForm form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 35rem;
}
.contactForm form > div {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.contactForm form div label {
  padding: 0 0.5rem 0.75rem;
  text-align: start;
}

.contactForm textarea {
  height: 10rem;
}

.contactForm button {
  margin: 1.5rem auto;
  width: 20rem;
}
/* Change Autocomplete styles in Chrome*/
.contactForm input:-webkit-autofill,
.contactForm input:-webkit-autofill:hover,
.contactForm input:-webkit-autofill:focus,
.contactForm textarea:-webkit-autofill,
.contactForm textarea:-webkit-autofill:hover,
.contactForm textarea:-webkit-autofill:focus,
.contactForm select:-webkit-autofill,
.contactForm select:-webkit-autofill:hover,
.contactForm select:-webkit-autofill:focus {
  /* border: 1px solid green;
  box-shadow: 0 0 0px 1000px #000 inset;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s; */
  color: var(--text);
  -webkit-text-fill-color: var(--text);
  background: transparent;
  transition: background-color 5000s ease-in-out 0s;
  border: 2px solid var(--paragraph);
}

@media screen and (max-width: 600px) {
  .contactForm {
    padding: 0 2rem;
  }
}
