.container {
  background: var(--background);
  color: var(--paragraph);
  min-height: 100vh;
  padding-top: 4rem;
}

.contactForm {
  border: 1px solid var(--paragraph);
}

.contactForm form {
  display: flex;
}
