.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: var(--background);
  color: var(--headline);
}
.body {
  padding: 0 2rem;
}
.body h1 {
  font-size: 4rem;
}

.body h1 p:first-child {
  margin: 0 0 -1.5rem;
}

.body h1 p:last-child {
  font-size: 2.5rem;
}
.body p span {
  color: var(--secondary);
}
.body p span + span {
  color: var(--highlight);
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
