.container {
  background: var(--background);
  color: var(--paragraph);
  min-height: 100vh;
  padding-top: 4rem;
}

.item {
  box-shadow: 10px 5px 33px -7px rgba(167, 169, 190, 0.66);
  -webkit-box-shadow: 10px 5px 33px -7px rgba(167, 169, 190, 0.66);
  -moz-box-shadow: 10px 5px 33px -7px rgba(167, 169, 190, 0.66);
}

.container main {
  display: flex;
  padding: 1.5rem;
  overflow-x: scroll;

  /* extiliza scrollbars no Firefox */
  scrollbar-color: white rebeccapurple;
  scrollbar-width: thin;
  overflow-y: hidden;
}

.container main::-webkit-scrollbar {
  /* width: 2px; */
  height: 10px;
}

.container main::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.container main::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.container main section {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

.item {
  height: 25rem;
  width: fit-content;
  padding: 1.5rem;

  border-radius: 1rem;
  display: flex;
  margin: 0;
  position: relative;
  cursor: pointer;

  background: var(--surface);
  box-shadow: -1rem 0 3rem #000;
  flex-direction: column;
  transition: 0.6s;
  scroll-snap-align: start;
  clear: both;
}

.item:focus-within ~ .item,
.item:hover ~ .item {
  transform: translateX(120px);
}

/* levanta um pouquinho o card focado */
.item:hover {
  transform: translateY(-1rem);
}

/* todos os cards menos o primeiro tem margin-left negativo */
.item:not(:first-child) {
  margin-left: -130px;
}
.item header {
  padding: 0 0 1rem 1.5rem;
}
.item header h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  border: 0;
  transition: ease-in-out 0.2s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item header:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
/* 300px 22rem */
/* rem = 13.63636363  */

.splashContainer {
  /* border: 1px solid; */
  width: 22rem;
  height: 18rem;
  display: flex;
  justify-content: center;
}

.techContainer {
  display: flex;
  margin-bottom: 1rem;
}

.techContainer div + div {
  margin-left: 0.5rem;
}

.techContainer a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /* border-color: white; */
}

.ProjectModal {
  position: absolute;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-width: 320px;
  max-width: 800px;
  top: 50%;
  left: 50%;
  background: var(--surface);
  transform: translate(-50%, -50%);
}
.ProjectModal h1 {
  margin: 0;
}
.ProjectModal p {
  padding: 0 2.5rem;
}

.Links button:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: #000;
  -webkit-background-clip: text;
  background-clip: text;
}

.Links button {
  font-size: 1.25rem;
}

.Links svg {
  vertical-align: middle;
}

.Overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .item {
    width: 18rem;
    height: 23.5rem;
    cursor: pointer;
  }
  .item header h2 {
    font-size: 1.4rem;
  }

  .item:focus-within ~ .item,
  .item:hover ~ .item {
    transform: translateX(110px);
  }

  .item:not(:first-child) {
    margin-left: -80px;
  }

  .splashContainer {
    transform: scale(0.92) translate(-11%, -10%);
    height: 13.75rem;
    width: 18.5rem;
  }

  .splashContainer img {
    transform: scale(0.8) translateY(-2%);
  }
}

@media screen and (max-width: 600px) {
  .container main {
    padding: 1rem 0.5rem;
  }
  .item {
    width: 21rem;
    height: 23.4rem;
  }
  .item header h2 {
    font-size: 1.2rem;
  }

  .item:focus-within ~ .item,
  .item:hover ~ .item {
    transform: translateX(110px);
  }

  .item:not(:first-child) {
    margin-left: -170px;
  }

  .splashContainer {
    transform: scale(0.7) translate(-14%, -14%);
    height: 13.75rem;
  }

  .splashContainer img {
    transform: scale(0.92);
  }
  .ProjectModal video,
  .ProjectModal img:not(.techContainer div img) {
    /* border: 1px solid red; */
    transform: scale(0.7);
  }

  .techContainer {
    margin-bottom: -2rem;
  }
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}
