:root {
  /* Elements */
  --background: #0f0e17;
  --surface: #17141d;
  --headline: #fffffe;
  --paragraph: #a7a9be;
  --button: #ff8906;
  --text: #fffffe;
  /* Illustration */
  --stroke: black;
  --main: #fffffe;
  --highlight: #ff8906;
  --secondary: #f25f4c;
  --tertiary: #e53170;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--background);
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  /* 
  background: var(--highlight);
   */
  color: var(--text);
  background: var(--background);
  border: 1px solid var(--paragraph);
  border-radius: 0.25rem;
  height: 2.25rem;
  min-width: 4.5rem;
  cursor: pointer;
  color: inherit;
  background: transparent;
  font-weight: bold;
  transition: ease-in-out 0.2s;
  /* transition: 0.3s; */
  /* outline: none; */
}

button:hover {
  color: var(--background);
  border: 2px solid var(--highlight);
  background: linear-gradient(90deg, #ff8a00, #e52e71) !important;
  text-shadow: none;
  -webkit-text-fill-color: var(--background);
  -webkit-background-clip: text;
  background-clip: text !important;
}

input,
textarea {
  color: var(--text);
  background: var(--tertiary);
  border: 2px solid var(--paragraph);
  font-weight: bold;
  border-radius: 1.25rem 1.25rem 0rem 1.25rem;
  min-height: 2.25rem;
  min-width: 4.5rem;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  box-shadow: 0px 0px 12px inset var(--surface);
}

textarea {
  padding: 1rem;
  overflow: hidden;
  max-height: 300px;
  min-width: 300px;
}

ul {
  list-style: none;
}
