:root {
  /* Elements */
  --background: #0f0e17;
  --headline: #fffffe;
  --paragraph: #a7a9be;
  --button: #ff8906;
  --button-text: #fffffe;
  /* Illustration */
  --stroke: black;
  --main: #fffffe;
  --highlight: #ff8906;
  --secondary: #f25f4c;
  --tertiary: #e53170;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
